@import "tailwindcss";

:root {
  
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --overlay-color: rgba(0, 0, 0, 0.8);
  --border-warning-color: #f59e0b;    /* amber-500 */
  --border-bg-warning-color: #78350f33; /* amber-900 with opacity */
  --text-warning-color: #fbbf24; 

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s, color 0.3s;
}

[data-theme="light"] {
  --text-color: #4B5563;
  --bg-color: #fcfbfc;
  --overlay-color: rgba(0, 0, 0, 0.65);
  --heading-color: #628dec;
  --border-color: #d5d4d4;
  --border-warning-color: #FDE047;  
  --border-bg-warning-color: #FEFCE8; 
  --text-warning-color: #A16207;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}
