@import "tailwindcss";

:root {
  
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --overlay-color: rgba(0, 0, 0, 0.8);
  --heading-color: rgba(255, 255, 255, 0.87);
  --border-color: rgba(255, 255, 255, 0.25);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s, color 0.3s;
}

[data-theme="light"] {
  --text-color: #718096;
  --bg-color: #fcfbfc;
  --overlay-color: rgba(0, 0, 0, 0.65);
  --heading-color: #2c7a7b;
  --border-color: rgba(0, 0, 0, 0.2);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}
